html {
  height: 100%;
  overflow-x: hidden;
}

html body {
  height: 100%;
}

h1 {
  font-family: gotham;
  text-transform: uppercase;
  font-weight: bold;
}

.trailer {
  width: 100%;
  height: 620px;
}

.container__detail {
  background-color: #fff;
  padding: 30px;
  margin-top: 150px;
  border-radius: 5px;
}

.container__detail p {
  text-indent: 3em;
  margin-top: 50px;
}

/* SECTIONS WITH COLOR */
.section-black {
  background: url(https://www.foxmovies.com/s3/5ba9a39b3192b.jpg);
  margin: 0;
}

.section-black h1 {
  margin: 40px 0 0 0;
  text-shadow: 1px 1px #b08a43;
}

.section-black p {
  text-transform: none;
  text-shadow: none;
  float: right;
  font-size: 20px;
  margin: -5px 10px 0 0;
}

.section-black .arahan {
  margin-top: -28px;
  margin-bottom: 80px;
}

.section-black .arahan .ytbutton {
  float: right;
}

.section-black button {
  width: 100%;
  margin-top: 10px;
  border-radius: 0;
}

.section-black-space {
  background: url(https://www.foxmovies.com/s3/5ba9a3d8e40b6.jpg);
  padding-top: 25px;
  padding-bottom: 100px;
}

.section-black-space img {
  margin-top: 40px;
}

.section-black-space h2 {
  color: white;
  text-shadow: 1px 1px #b08a43;
}

.section-black-space p {
  color: white;
}

.section-black-space .imager img {
  margin-left: 10px;
  max-height: 50px;
  max-width: 100px;
}

/* PARALLAX */
.parallax2 {
  background: url("https://www.foxmovies.com/s3/dev-temp/en-US/__5cd3857276811.jpg");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
}
