html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: montserrat light;
}

/* MIXINS */
/* VARIABLES */
/* NAVBAR */
.navbar-brand {
  font-weight: bold;
  padding: 10px 15px !important;
}

.navbar-brand:hover {
  color: black !important;
  background-color: white !important;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.navbar-brand:hover img {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.navbar--black {
  background-color: #111111 !important;
}

.navbar-nav li a {
  color: white !important;
  padding: 15px 20px !important;
}

.navbar-nav li a:hover {
  color: black !important;
  background-color: white !important;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  font-weight: bold;
}

.navbar-nav li a i {
  margin-right: 5px;
}

.nav-brand--white {
  color: white !important;
}

/* NAV SEARCHBAR */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav form {
  overflow: hidden;
}

.sidenav form input[type=text] {
  border: 2px solid #737373;
  border-width: 0 0 3px;
  background-color: transparent;
  font: 80px "Open Sans", sans-serif;
  padding: 0.125em 0.225em;
  width: 100%;
  height: 200px;
  border-radius: 0;
  -webkit-transition: all 0.75s;
  -o-transition: all 0.75s;
  transition: all 0.75s;
}

.sidenav form input[type=text]:focus {
  color: #E18728;
  border-color: #E18728;
  outline: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* NAV SEARCHBAR BUTTON */
.button {
  border-radius: 4px;
  border: 1px #fff solid;
  background-color: #111;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 150px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* CAROUSEL */
.carouselku {
  margin-top: 70px;
}

.carousel-caption {
  bottom: 10%;
  right: 50%;
  padding-left: 20px;
}

.carousel-caption h1 {
  font-size: 50px;
  text-align: left;
  font-family: gotham;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 1px 1px #000;
}

.carousel-caption p {
  font-size: 18px;
  text-align: left;
  font-family: gotham;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 1px 1px #000;
}

/* CONTAINER */
.container h2 {
  margin-top: 30px;
  text-align: left;
  font-family: gotham;
  font-weight: bolder;
  text-transform: uppercase;
}

.container h4 {
  text-align: left;
  font-family: gotham;
  font-weight: bolder;
  text-transform: uppercase;
}

.container .apple-img {
  width: 200px;
  margin-top: 30px;
}

.container .ini-audio audio {
  width: 100%;
  padding: 2px;
  margin-top: 20px;
  background-color: #000;
  border-radius: 30px;
}

.container .movies-row .card {
  margin-bottom: 20px;
}

/* CONTAINER WITH ID */
#featured {
  padding-top: 50px;
}

.card-deck {
  margin-top: 20px;
}

.section-gray {
  background-color: #f4f4f4;
  margin-top: 50px;
  padding-bottom: 70px;
  padding-top: 20px;
}

.section-black {
  background-color: #111;
  color: #fff;
  margin-top: 50px;
  padding-bottom: 70px;
  padding-top: 20px;
}

.section-black .fab {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.section-black .fab:hover {
  opacity: 0.7;
}

.section-black a {
  color: white;
}

.section-black .fa-facebook {
  background: #3B5998;
}

.section-black .fa-twitter {
  background: #55ACEE;
}

.section-black .fa-google {
  background: #DD4B39;
}

/* PARALLAX */
.parallax {
  background-image: url("https://www.foxmovies.com/s3/dev-temp/en-US/__5bb655892f159.jpg");
  /* Full height */
  height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* FOOTER */
.footer {
  background-color: #111;
  padding-top: 40px;
}

.footer p {
  text-align: left;
  font-family: gotham;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 12px;
  color: #ccc;
}

.footer .fab {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.footer .fab:hover {
  opacity: 0.7;
}

.footer a {
  color: white;
}

.footer .fa-facebook {
  background: #3B5998;
}

.footer .fa-twitter {
  background: #55ACEE;
}

.footer .fa-google {
  background: #DD4B39;
}

.footer .fa-skype {
  background: #00aff0;
}

.footer .fa-youtube {
  background: #bb0000;
}

.footer .fa-instagram {
  background: #125688;
}

.footer .fa-dribbble {
  background: #ea4c89;
}

.footer .fa-snapchat-ghost {
  background: #fffc00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* KEYFRAMES */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* DIVIDERS */
.divider {
  width: 120px;
  height: 6px;
  margin: 20px 0 20px 0;
}

.divider--gold {
  background-color: #b08a43;
}

.divider--small {
  width: 70px;
}
