html {
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
	font-family: montserrat light;
}

/* MIXINS */
@mixin goth {
	text-align: left;
	font-family: gotham;
	font-weight: bolder;
	text-transform: uppercase;
}

@mixin fab {
	padding: 10px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

/* VARIABLES */
$facebook: #3B5998;
$twitter: #55ACEE;
$google: #DD4B39;
$linkedin: #007bb5;
$youtube: #bb0000;
$instagram: #125688;
$snapchat: #fffc00;
$skype: #00aff0;
$dribbble: #ea4c89;

/* NAVBAR */
.navbar-brand {
	font-weight: bold;
	padding: 10px 15px!important;

	&:hover {
		color: black!important;
		background-color: white!important;
		transition: 0.5s all;
		img {
			animation: spin 2s linear infinite;
		}
	}
}

.navbar--black {
	background-color: #111111!important;
}

.navbar-nav {
	li {
		a {
			color: white!important;
			padding: 15px 20px!important;

			&:hover {
				color: black!important;
				background-color: white!important;
				transition: 0.5s all;
				font-weight: bold;
			}

			i {
				margin-right: 5px;
			}
		}
	}
}

.nav-brand--white {
	color: white!important;
}

/* NAV SEARCHBAR */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	background-color: rgba(17,17,17,0.9);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align:center;

	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;

		&:hover{
			color: #f1f1f1;
		}
	}

	form {
		overflow: hidden;
		input[type=text] {
			border: 2px solid #737373;
			border-width: 0 0 3px;
			background-color: transparent;
			font: 80px "Open Sans", sans-serif;
			padding: 0.125em 0.225em;
			width: 100%;
			height: 200px;
			border-radius: 0;
			transition: all 0.75s;
		}

		input[type=text]:focus {
			color: #E18728;
			border-color: #E18728;
			outline: none;
		}
	}

	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 50px;
		margin-left: 50px;
	}
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px; a {font-size: 18px;}}
}

/* NAV SEARCHBAR BUTTON */
.button {
	border-radius: 4px;
	border: 1px #fff solid;
	background-color: #111;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding: 5px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;

	span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;

		&:after {
			content: '\00bb';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -20px;
			transition: 0.5s;
		}
	}

	&:hover {
		span {
			padding-right: 25px;

			&:after {
				opacity: 1;
				right: 0;
			}
		}
	}
}

/* CAROUSEL */
.carouselku {
	margin-top: 70px;
}

.carousel-caption {
	bottom: 10%;
	right: 50%;
	padding-left: 20px;

	h1 {
		font-size: 50px;
		@include goth;
		text-shadow: 1px 1px #000;
	}

	p {
		font-size: 18px;
		@include goth;
		text-shadow: 1px 1px #000;
	}
}

/* CONTAINER */
.container {
	h2 {
		margin-top: 30px;
		@include goth;
	}

	h4	{
		@include goth;
	}

	.apple-img {
		width: 200px;
		margin-top: 30px;
	}

	.ini-audio {
		audio {
			width: 100%;
			padding: 2px;
			margin-top: 20px;
			background-color: #000;
			border-radius: 30px;
		}
	}

	.movies-row {
		.card {
			margin-bottom: 20px;
		}
	}
}

/* CONTAINER WITH ID */
#featured {
	padding-top: 50px;
}

.card-deck {
	margin-top: 20px;
}

.section-gray {
	background-color: #f4f4f4;
	margin-top: 50px;
	padding-bottom: 70px;
	padding-top: 20px;
}

.section-black {
	background-color: #111;
	color: #fff;
	margin-top: 50px;
	padding-bottom: 70px;
	padding-top: 20px;

	.fab {
		@include fab;

		&:hover {
			opacity: 0.7;
		}
	}

	a {
		color: white;
	}

	.fa-facebook {
		background: $facebook;
	}

	.fa-twitter {
		background: $twitter;
	}

	.fa-google {
		background: $google;
	}
}

/* PARALLAX */
.parallax {
	background-image: url('https://www.foxmovies.com/s3/dev-temp/en-US/__5bb655892f159.jpg');

	/* Full height */
	height: 300px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* FOOTER */
.footer {
	background-color: #111;
	padding-top: 40px;

	p {
		@include goth;
		font-size: 12px;
		color: #ccc;
	}

	.fab {
		@include fab;

		&:hover {
			opacity: 0.7;
		}
	}

	a {
		color: white;
	}

	.fa-facebook {
		background: $facebook;
	}

	.fa-twitter {
		background: $twitter;
	}

	.fa-google {
		background: $google;
	}

	.fa-skype {
		background: $skype;
	}

	.fa-youtube {
		background: $youtube;
	}

	.fa-instagram {
		background: $instagram;
	}

	.fa-dribbble {
		background: $dribbble;
	}

	.fa-snapchat-ghost {
		background: $snapchat;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
}

/* KEYFRAMES */
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* DIVIDERS */
.divider {
	width: 120px;
	height: 6px;
	margin: 20px 0 20px 0;
}

.divider--gold {
	background-color: #b08a43;
}

.divider--small {
	width: 70px;
}