<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>To Do | App</title>
</head>
<body>
	<div id="todo-app">
		<h1>Day 2</h1>
		<component-1></component-1>
		<component-2 message="Component using props!"></component-2>
		<component-2 v-bind:message="msg"></component-2>
		<component-3></component-3>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript">
		//namanya sih bebas, tapi manggilnya tetap di el nya
		Vue.component('component-1', {
			template: '<div>A custom component!</div>'
		});

		Vue.component('component-2', {
			props: ['message'],
			template: '<div>{{ message }}</div>'
		});

		Vue.component('component-3', {
			template: '<div>{{ message }}</div>',
			data: function() {
				return {
					message: 'Component with data!, but it\'s inside the component itself'
				}
			}
		});

		var app = new Vue({
			el: "#todo-app",
			data: {
				msg: 'Component using props with data!'
			}
		});
	</script>
</body>
</html>
